useDynLib(Rdrp)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "xy.coords")
importFrom("graphics", "abline", "grid", "identify", "lines", "matplot", "mtext", "par", "plot")
importFrom("stats", "lm", "predict", "residuals", "sd")

S3method(print,spectrum)
S3method(print,spectra)
S3method(plot,spectrum)
S3method(plot,spectra)

export(positions)
export(stamp)
export(baseline)
export(drapply)

export(readOSO20m)
export(readSALSA)
export(getClassHeader)
export(readClass)
export(getOdinSpectrum)

export(getHead)
export(modify)
export(markRegion)

export(getFreq)
export(getVelo)
export(getData)
export(frequencies)
export(velocities)
export(getDimension)
export(average)

export(area)
export(trim)
export(sieve)
export(fold)
export(mask)
export(modify)
export(moment)
export(resample)
export(rescale)
export(reverse)
