useDynLib(Rdrp)
import(RcppArmadillo)
importFrom(Rcpp, evalCpp)

S3method(print,spectrum)
S3method(print,spectra)
S3method(plot,spectrum)
S3method(plot,spectra)

export(positions)
export(stamp)
export(baseline)
export(drapply)

export(readOSO20m)
export(readSALSA)
export(readClass)

export(getHead)
export(getFreq)
export(getVelo)
export(getData)
export(velocity)
export(getDimension)
export(average)
export(modify)
export(addColumns)

export(area)
export(trim)
export(sieve)
export(fold)
export(mask)
export(modify)
export(moment)
export(resample)
export(rescale)
export(reverse)

export(options)
